{% extends "_layouts/auth.njk" %}
{% block body %}
  <form action="/signin" method="post">

    <img src="/images/logo.svg" height="42"/>

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="Digite seu e-mail" required="required"/>
    <input type="password" name="password" placeholder="Escolha sua senha" required="required"/>

    <button type="submit">
      Entrar
    </button>

    <a href="/signup">
      Criar uma conta grátis.
    </a>
  </form>
  <script type="text/javascript">
    let removerAlerta = async () => {
      let alert = document.querySelector('.alert')

      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      await sleep(7000)
      if (alert) {
        alert
          .parentNode
          .removeChild(alert);
      }
    }
    removerAlerta()
  </script>
{% endblock %}
